In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.impute import SimpleImputer
from sklearn import preprocessing
from sklearn import svm
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

df = pd.read_csv('corona_tested_individuals_preprocessed.csv')
df.head(10)

,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,test_indication
0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0
6,1,1,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,2

In [17]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278848 entries, 0 to 278847
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   cough                278848 non-null  int64
 1   fever                278848 non-null  int64
 2   sore_throat          278848 non-null  int64
 3   shortness_of_breath  278848 non-null  int64
 4   head_ache            278848 non-null  int64
 5   corona_result        278848 non-null  int64
 6   age_60_and_above     278848 non-null  int64
 7   test_indication      278848 non-null  int64
dtypes: int64(8)
memory usage: 17.0 MB

In [18]:
df.isnull().sum()

cough                  0
fever                  0
sore_throat            0
shortness_of_breath    0
head_ache              0
corona_result          0
age_60_and_above       0
test_indication        0
dtype: int64

In [19]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [cough, fever, sore_throat, shortness_of_breath, head_ache, corona_result, age_60_and_above, test_indication]
Index: []

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [21]:
X = df.drop(['corona_result'], axis = 1)
Y = df['corona_result']
X.head()

,cough,fever,sore_throat,shortness_of_breath,head_ache,age_60_and_above,test_indication
0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0
2,0,1,0,0,0,0,0
3,1,0,0,0,0,0,0
4,1,0,0,0,0,0,0

In [23]:
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: corona_result, dtype: int64

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 66)
#create an instance and fit the model 
logmodel = LogisticRegression()
logmodel.fit(X_train, y_train)

LogisticRegression()

In [25]:
y_pred = logmodel.predict(X_test)

In [26]:
y_pred

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [27]:
accuracy_lr = logmodel.score(X_test, y_test)
print("Accuracy of Logistic Regression on test set:",accuracy_lr)

Accuracy of Logistic Regression on test set: 0.9602295140756679

In [29]:
import pickle
pickle_out = open('prediction_model.pkl','wb')
pickle.dump(logmodel,pickle_out)
pickle_out.close()

In [37]:
logmodel.predict([[0,0,0,0,0,0,0]])

array([0], dtype=int64)